<!-- Footer -->
<footer>
	<div class="container">
		<div class="title">
			<h2>Контакты</h2>
		</div>
			<div class="contacts frame-block-holder frame-block-holder--small">
				<div class="frame-decor">
					<img src="images/frame-s-top.png" alt="top-frame">
				</div>
				<div class="frame-block frame-block--small">
					<table class="contacts-t">
						<tr>
							<td>Тел.</td>
							<td><a href="tel: +38-093-000-00-00">+38 093 000 00 00</a>
							</td>
						</tr>
						<tr>
							<td></td>
							<td><a href="tel: +38-098-000-00-00">+38 098 000 00 00</a></td>
						</tr>
						<tr>
							<td>e-mail:</td>
							<td><a href="mailto: mail@mail.com">mail@mail.com</a></td>
						</tr>								
					</table>
				</div>
			<div class="frame-decor">
				<img src="images/frame-s-bottom.png" alt="bottom-frame">
			</div>
		</div>				
	</div>
</footer>
