/ Footer
%footer
  .container
    .title#contacts
      %h2 Контакты
    .contacts.frame-block-holder.frame-block-holder--small
      .frame-decor
        %img{:alt => "top-frame", :src => "images/frame-s-top.png"}
      .frame-block.frame-block--small
        %table.contacts-t
          %tr
            %td Тел.
            %td
              %a{:href => "tel: +38-093-000-00-00"} +38 093 000 00 00
          %tr
            %td
            %td
              %a{:href => "tel: +38-098-000-00-00"} +38 098 000 00 00
          %tr
            %td e-mail:
            %td
              %a{:href => "mailto: mail@mail.com"} mail@mail.com
      .frame-decor
        %img{:alt => "bottom-frame", :src => "images/frame-s-bottom.png"}