<section id="header" class="dark">
			<header>
				<h1>Cakes App</h1>
				<p>Добро пожаловать на наш сайт <a href="#">Лого</a></p>
			</header>
			
</section>
<div>
                    <nav id="nav" class="default">
                        <ul>
                            <li><a href="#first">Мы предлагаем</a></li>
                            <li><a href="#second">Наши работы</a></li>
                            <li><a href="#third">О нас</a></li>
                            <li><a href="#fourth">Контакты</a></li>
                        </ul>

                    </nav>
                </div>