<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Мастерская сладостей Яны Мартыновой</title>
	<link rel="stylesheet" href="stylesheets/main.css">
	<script type="text/javascript" src="javascripts/jquery-2.1.4.min.js"></script>
	<!--[if lte IE 9]>
	  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body class="page">
	<div class="wrapper">
		<header>
			<div class="logo"><a href="#"><img src="images/logo.png" alt="Logo"></a></div>
			<div class="nav-holder">
				<nav class="nav">
					<div class="container">
						<ul class="main-nav">
							<li><a href="#">Наши работы</a></li>
							<li><a href="#">Оформить заказ</a></li>
							<li><a href="#">Контакты</a></li>
						</ul>
						<ul class="soc-nav">
							<li><a href="#"><i class="icon-facebook-square"></i></a></li>
							<li><a href="#"><i class="icon-odnoklassniki-square"></i></a></li>
							<li><a href="#"><i class="icon-vkontakte"></i></a></li>
						</ul>
					</div>
			<nav>
			</div>
		</header>
		<div class="main">
			<div class="container">
				<section class="details">
					<div class="title">
						<h2>Наши работы</h2>
					</div>
					<div class="frame-block-holder frame-block-holder--full">
						<div class="frame-decor">
							<img src="images/frame-top.png" alt="top-frame">
						</div>
						<div class="frame-block frame-block--full">
							<ul class="frame-block__images">
								<li>
									<a href="#">Cake 1</a>
									<div class="image-hover">			
										<i class="icon-camera"></i>
									</div>
									<img src="images/cake-photo-1.jpg" alt="Тортик 1">
								</li>
								<li>
									<a href="#">Cake 2</a>
									<div class="image-hover">			
										<i class="icon-camera"></i>
									</div>
									<img src="images/cake-photo-2.jpg" alt="Тортик 1">
								</li>
								<li>
									<a href="#">Cake 3</a>
									<div class="image-hover">			
										<i class="icon-camera"></i>
									</div>
									<img src="images/cake-photo-3.jpg" alt="Тортик 1">
								</li>
								<li>
									<a href="#">Cake 4</a>
									<div class="image-hover">			
										<i class="icon-camera"></i>
									</div>
									<img src="images/cake-photo-4.jpg" alt="Тортик 1">
								</li>
								<li>
									<a href="#">Cake 5</a>
									<div class="image-hover">			
										<i class="icon-camera"></i>
									</div>
									<img src="images/cake-photo-5.jpg" alt="Тортик 1">
								</li>
								<li>
									<a href="#">Cake 6</a>
									<div class="image-hover">			
										<i class="icon-camera"></i>
									</div>
									<img src="images/cake-photo-6.jpg" alt="Тортик 1">
								</li>
								<li>
									<a href="#">Cake 7</a>
									<div class="image-hover">			
										<i class="icon-camera"></i>
									</div>
									<img src="images/cake-photo-4.jpg" alt="Тортик 1">
								</li>
								<li>
									<a href="#">Cake 8</a>
									<div class="image-hover">			
										<i class="icon-camera"></i>
									</div>
									<img src="images/cake-photo-5.jpg" alt="Тортик 1">
								</li>
								<li>
									<a href="#">Cake 9</a>
									<div class="image-hover">			
										<i class="icon-camera"></i>
									</div>
									<img src="images/cake-photo-6.jpg" alt="Тортик 1">
								</li>
							</ul>
						<div class="frame-block__text">
									<div class="image-content alignright">
										<img src="images/icon-cake-1.png" alt="Cake">
									</div>
									<div class="text-content">
									  	But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. 
										Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.<br>
										 <br>
										To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
									</div>
							</div>
						</div>
						<div class="frame-decor">
							<img src="images/frame-bottom.png" alt="bottom-frame">
						</div>
					</div>
				</section>
			</div>
		</div>
		<footer>
			<div class="container">
				<div class="title">
					<h2>Контакты</h2>
				</div>
				<div class="contacts frame-block-holder frame-block-holder--small">
					<div class="frame-decor">
						<img src="images/frame-s-top.png" alt="top-frame">
					</div>
					<div class="frame-block frame-block--small">
						<table class="contacts-t">
							<tr>
								<td>Тел.</td>
								<td><a href="tel: +38-093-000-00-00">+38 093 000 00 00</a>
								</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="tel: +38-098-000-00-00">+38 098 000 00 00</a></td>
							</tr>
							<tr>
								<td>e-mail:</td>
								<td><a href="mailto: mail@mail.com">mail@mail.com</a></td>
							</tr>								
						</table>
					</div>
					<div class="frame-decor">
						<img src="images/frame-s-bottom.png" alt="bottom-frame">
					</div>
				</div>				
			</div>
		</footer>
	</div>
</body>
</html>