
		<!-- Services -->
			<section id="services" class="main">
				<header>
					<div class="container">
						<h2>Сладкое искусство</h2>
					</div>
				</header>
				<div class="content dark style1 featured">
					<div class="container">
						<div class="row">
							<div class="4u">
								<section>
									<span class="flying_icons"><img src="/images/tort.png"></span>
									<header>
										<h3>Торты</h3>
									</header>
									
								</section>
							</div>
							<div class="4u">
								<section>
									<span class="flying_icons"><img src="/images/keks.png"></span>
									<header>
										<h3>Кексы</h3>
									</header>
									
								</section>
							</div>
							<div class="4u">
								<section>
									<span class="flying_icons"><img src="/images/candy.png"></span>
									<header>
										<h3>Кенди-бар</h3>
									</header>
								</section>
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Gallery -->
			<section id="gallery" class="main">
				<header>
					<div class="container">
						<h2>Наши работы</h2>
					</div>
				</header>
				<div class="content gallery style">
					<div class="container">
						<div class="row">
							<div class="4u">
								<section>
									<h3>Наши работы</h3>
									<p>В галерее вы можете ознакомится с нашими работами для разных событий, будь то свадьба, день рождение, или корпоратив.
									В галерее вы можете ознакомится с нашими работами для разных событий, будь то свадьба, день рождение, или корпоратив.
									</p>
									<p>В галерее вы можете ознакомится с нашими работами для разных событий, будь то свадьба, день рождение, или корпоратив.</p>
								</section>
							</div>
							<div class="8u">
																
								<div class="row no-collapse">
									<% @albums.each do |album| %>
										<div class="6u">
											
												<% if album.image_stored? %>
													<%= link_to album do %>
    													<%= image_tag album.image.url, :class => 'image fit' %>
    												<% end %>
												<% else %>
    												<%= image_tag 'no_image.png' %>
												<% end %>
											
										</div>
									<% end %>
								</div>
								
								
							</div>
						</div>
					</div>
				</div>
			</section>
			
		<!-- About Us -->
			<!--<section id="about_us" class="main">
				<header>
					<div class="container">
						<h2>Оформить заказ очень просто</h2>
						<p>Воспользуйтесь контактной формой, или же позвоните по телефонам<br />
						Воспользуйтесь контактной формой, или же позвоните по телефона</p>
					</div>
				</header>
				    <div class="content dark style3">
					<div class="container">
						<span class="image featured"><img src="images/pic07.jpg" alt="" /></span>
						<div class="row">
							<div class="4u">
								<h3>О нас</h3>
								<p>текст о нас текст о нас текст о нас</p>
								<p>текст о настекст о настекст о настекст о нас</p>
							</div>
							<div class="4u">
								<p>текст о настекст о настекст о нас</p>
								<p>текст о настекст о настекст о настекст о нас</p>
							</div>
							<div class="4u">
								<p>текст о настекст о настекст о настекст о нас</p>
								<p>текст о настекст о настекст о настекст о нас</p>
								<footer>
									<a href="#contacts" class="button scrolly">Далее / Контакты</a>
								</footer>
							</div>
						</div>
					</div>
				</div>
			</section>-->

		