
		<!-- Services -->
			<section id="services" class="main">
				<header>
					<div class="container">
						<h2>Мы предлагаем услуги/изготовление/</h2>
						<p>Практически каждый праздник не обходится без вкусного и красивого торта....<br />
						Практически каждый праздник не обходится без вкусного и красивого торта....</p>
					</div>
				</header>
				<div class="content dark style1 featured">
					<div class="container">
						<div class="row">
							<div class="4u">
								<section>
									<span class="feature-icon"><span class="icon fa-clock-o"></span></span>
									<header>
										<h3>Преимущества</h3>
									</header>
									<p>Торты изготавливаются из натуральных, самых качественных и свежих продуктов, без применения консервантов, порошков, растительных сливок, маргарина. Если Вы заказываете торт с йогуртовым ...</p>
								</section>
							</div>
							<div class="4u">
								<section>
									<span class="feature-icon"><span class="icon fa-bolt"></span></span>
									<header>
										<h3>Почему именно мы</h3>
									</header>
									<p>Торты изготавливаются из натуральных, самых качественных и свежих продуктов, без применения консервантов, порошков, растительных сливок, маргарина. Если Вы заказываете торт с йогуртовым ...</p>
								</section>
							</div>
							<div class="4u">
								<section>
									<span class="feature-icon"><span class="icon fa-cloud"></span></span>
									<header>
										<h3>Оформление заказа</h3>
									</header>
									<p>1. Изъявляете желание заказать торт:
- устно (по телефону)
- письменно (сообщением в личку)
2. Указываете дату и примерное время сдачи заказа.
3. Договариваемся о встрече.
4. При встрече обсуждаем дизайн будущего торта, его состав, и прочие организационные моменты. Вносите предоплату (100 грн).</p>
								</section>
							</div>
						</div>
						<div class="row">
							<div class="12u">
								<footer>
									<a href="#second" class="button scrolly">Далее / Наши работы</a>
								</footer>
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Gallery -->
			<section id="gallery" class="main">
				<header>
					<div class="container">
						<h2>В нашей галерее вы можете...</h2>
						<p>Представляем вам разнообразные виды начинок, среди которых вы можете выбрать подходящую именно для вашего торта<br />
						Представляем вам разнообразные виды начинок, среди которых вы можете выбрать подходящую именно для вашего торта</p>
					</div>
				</header>
				<div class="content dark style2">
					<div class="container">
						<div class="row">
							<div class="4u">
								<section>
									<h3>Наши работы</h3>
									<p>В галерее вы можете ознакомится с нашими работами для разных событий, будь то свадьба, день рождение, или корпоратив.
									В галерее вы можете ознакомится с нашими работами для разных событий, будь то свадьба, день рождение, или корпоратив.
									</p>
									<p>В галерее вы можете ознакомится с нашими работами для разных событий, будь то свадьба, день рождение, или корпоратив.</p>
									<footer>
										<a href="#third" class="button scrolly">Далее / О нас</a>
									</footer>
								</section>
							</div>
							<div class="8u">
																
								<div class="row no-collapse">
									<% @albums.each do |album| %>
										<div class="6u">
											
												<% if album.image_stored? %>
													<%= link_to album do %>
    													<%= image_tag album.image.url, :class => 'image fit' %>
    												<% end %>
												<% else %>
    												<%= image_tag 'no_image.png' %>
												<% end %>
											
										</div>
									<% end %>
								</div>
								
								
							</div>
						</div>
					</div>
				</div>
			</section>
			
		<!-- About Us -->
			<section id="about_us" class="main">
				<header>
					<div class="container">
						<h2>Оформить заказ очень просто</h2>
						<p>Воспользуйтесь контактной формой, или же позвоните по телефонам<br />
						Воспользуйтесь контактной формой, или же позвоните по телефона</p>
					</div>
				</header>
				<div class="content dark style3">
					<div class="container">
						<span class="image featured"><img src="images/pic07.jpg" alt="" /></span>
						<div class="row">
							<div class="4u">
								<h3>О нас</h3>
								<p>текст о нас текст о нас текст о нас</p>
								<p>текст о настекст о настекст о настекст о нас</p>
							</div>
							<div class="4u">
								<p>текст о настекст о настекст о нас</p>
								<p>текст о настекст о настекст о настекст о нас</p>
							</div>
							<div class="4u">
								<p>текст о настекст о настекст о настекст о нас</p>
								<p>текст о настекст о настекст о настекст о нас</p>
								<footer>
									<a href="#fourth" class="button scrolly">Далее / Контакты</a>
								</footer>
							</div>
						</div>
					</div>
				</div>
			</section>

		