@mixin border-radius($radius) {
-webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($top:0, $left:1px, $blur:1px, $color:#000, $inset:"") {
-webkit-box-shadow: $top $left $blur $color #{$inset};
   -moz-box-shadow: $top $left $blur $color #{$inset};
    box-shadow: $top $left $blur $color #{$inset};
}

@mixin clr() {
	&:before, 
	&:after {
		content: '';
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin frame-border-tb($width1:2px, $width2:2px, $style:solid, $color:$frame-b-color) {
	border-top-width: $width1;
	border-bottom-width: $width2;
	border-style: $style;
	border-color: $color;
}

@mixin frame-border-lr($width1:2px, $width2:2px, $style:solid, $color:$frame-b-color) {
	border-left-width: $width1;
	border-right-width: $width2;
	border-style: $style;
	border-color: $color;
}

@mixin transition($property) { 
    -webkit-transition: $property;
    -moz-transition:    $property;
    -o-transition:      $property;
    transition:         $property;
}

@mixin transform($transforms) {
	-webkit-transform: $transforms;
	   -moz-transform: $transforms;
	    -ms-transform: $transforms;
	     -o-transform: $transforms;
          transform: $transforms;
}

@mixin tablet {
  @media (max-width: #{$desktop-width}) {
  	@content;
  }
}

@mixin sm {
  @media (max-width: #{$tablet-width - 1px}) {
  	@content;	
  }
}

@mixin min-sm {
  @media (max-width: #{$sm-width - 1px}) {
	  @content;
  }
}
