$prim-color: #613b23;
$sec-color: #552100;
$frame-b-color: #53371c;

$main-font: Tahoma, Verdana, Segoe, sans-serif;
$site-w: 980px;

$desktop-width: 980px;
$tablet-width: 768px;
$sm-width: 480px;
$min-width: 319px;

