html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'NautilusPompilius-Regular';
  src: url("../fonts/NautilusPompilius_gdi.eot");
  src: url("../fonts/NautilusPompilius_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/NautilusPompilius_gdi.woff") format("woff"), url("../fonts/NautilusPompilius_gdi.ttf") format("truetype"), url("../fonts/NautilusPompilius_gdi.otf") format("opentype"), url("../fonts/NautilusPompilius_gdi.svg#NautilusPompilius-Regular") format("svg");
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?kidk0n");
  src: url("../fonts/icomoon.eot?kidk0n#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?kidk0n") format("truetype"), url("../fonts/icomoon.woff?kidk0n") format("woff"), url("../fonts/icomoon.svg?kidk0n#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon-camera:before {
  content: "\e901"; }

.icon-camera2:before {
  content: "\f030"; }

.icon-vkontakte:before {
  content: "\e900"; }

.icon-facebook-square:before {
  content: "\f082"; }

.icon-odnoklassniki-square:before {
  content: "\f264"; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#top {
  position: fixed;
  z-index: 100;
  bottom: 40px;
  right: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer; }
  #top:before {
    content: '';
    position: absolute;
    top: 9px;
    left: 12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 14px 7px;
    border-color: transparent transparent rgba(255, 255, 255, 0.8) transparent; }

body {
  min-width: 320px;
  font: 16px/1.2 Tahoma, Verdana, Segoe, sans-serif;
  color: #613b23;
  background: #def1f8 url("../images/bg.jpg") repeat 0 0; }

a {
  color: #613b23; }
  a:hover {
    text-decoration: none; }

.alignright {
  float: right; }

.alignleft {
  float: right; }

.wrapper {
  min-width: 319px;
  padding: 0 0 200px;
  background: url("../images/footer-bg.png") repeat-x 0 100%; }

.container {
  max-width: 980px;
  margin: 0 auto; }

/**
 * Header
 */
header {
  position: relative;
  padding: 91px 0 0; }
  header .logo {
    position: absolute;
    top: 33px;
    left: 50%;
    margin-left: -137px;
    z-index: 5; }
    header .logo a {
      display: block; }

.nav-holder {
  padding: 6px 0;
  border-top: 1px solid white;
  background: #fff; }
  .nav-holder .nav {
    position: relative;
    border-top: 1px solid #cdb29e;
    border-bottom: 1px solid #69330c; }
    .nav-holder .nav:before {
      content: '';
      position: absolute;
      top: -2px;
      left: 0;
      width: 100%;
      height: 1px;
      background: #ad8468; }
    .nav-holder .nav .container {
      position: relative;
      padding: 8px 0 9px; }
      .nav-holder .nav .container:before, .nav-holder .nav .container:after {
        content: '';
        position: absolute;
        top: -51px;
        left: 0;
        width: 55px;
        height: 48px;
        background: url("../images/header-bird-l.png") no-repeat 0 0; }
      .nav-holder .nav .container:before {
        -webkit-transition: left 0.5s ease-in-out;
        -moz-transition: left 0.5s ease-in-out;
        -o-transition: left 0.5s ease-in-out;
        transition: left 0.5s ease-in-out; }
      .nav-holder .nav .container:after {
        left: auto;
        right: 0;
        background-image: url("../images/header-bird-r.png");
        -webkit-transition: right 0.5s ease-in-out;
        -moz-transition: right 0.5s ease-in-out;
        -o-transition: right 0.5s ease-in-out;
        transition: right 0.5s ease-in-out; }
      .nav-holder .nav .container:hover:before {
        left: 400px;
        -webkit-transition: left 0.5s ease-in-out;
        -moz-transition: left 0.5s ease-in-out;
        -o-transition: left 0.5s ease-in-out;
        transition: left 0.5s ease-in-out; }
      .nav-holder .nav .container:hover:after {
        right: 400px;
        -webkit-transition: right 0.5s ease-in-out;
        -moz-transition: right 0.5s ease-in-out;
        -o-transition: right 0.5s ease-in-out;
        transition: right 0.5s ease-in-out; }
    .nav-holder .nav .nav-wrapper:before, .nav-holder .nav .nav-wrapper:after {
      content: '';
      display: table; }
    .nav-holder .nav .nav-wrapper:after {
      clear: both; }
    .nav-holder .nav .main-nav {
      float: left; }
      .nav-holder .nav .main-nav li {
        float: left; }
        .nav-holder .nav .main-nav li:first-child, .nav-holder .nav .main-nav li:last-child {
          border-right: 1px solid #dbdbdb; }
        .nav-holder .nav .main-nav li:last-child {
          margin: 0 0 0 300px; }
        .nav-holder .nav .main-nav li a {
          display: block;
          padding: 0 25px;
          margin: 0 4px;
          font-size: 18px;
          line-height: 36px;
          text-transform: lowercase;
          text-decoration: none; }
          .nav-holder .nav .main-nav li a:hover {
            text-decoration: underline; }
    .nav-holder .nav .soc-nav {
      float: right;
      margin: 0 20px 0 0; }
      .nav-holder .nav .soc-nav li {
        float: left;
        margin: 0 0 0 12px; }
        .nav-holder .nav .soc-nav li a {
          color: #552100;
          font-size: 32px;
          line-height: 36px;
          text-decoration: none; }
          .nav-holder .nav .soc-nav li a:hover {
            color: #6f2b00; }

/**
 * Main
 */
.main .container {
  padding: 0 15px; }

.title {
  text-align: center; }
  .title h2 {
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-style: solid;
    border-color: #53371c;
    position: relative;
    min-width: 410px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 53px;
    background: #fff;
    font: 42px/56px 'NautilusPompilius-Regular';
    -webkit-transition: padding 0.25s ease-in-out;
    -moz-transition: padding 0.25s ease-in-out;
    -o-transition: padding 0.25s ease-in-out;
    transition: padding 0.25s ease-in-out; }
    .title h2:before, .title h2:after {
      content: '';
      position: absolute;
      top: -2px;
      left: -103px;
      width: 103px;
      height: 60px;
      background: url("../images/header-left.png") no-repeat 0 0; }
    .title h2:after {
      left: auto;
      right: -103px;
      background: url("../images/header-right.png") no-repeat 0 0; }
    .title h2:hover {
      padding: 0 73px; }

/**
 * Welcome section
 */
.welcome__image {
  width: 100%;
  text-align: center;
  padding: 55px 0 50px 0; }
  .welcome__image img {
    width: 80%;
    max-width: 782px; }

.welcome .benefits {
  padding: 24px 0 50px; }
  .welcome .benefits__list {
    padding: 0 8%;
    width: 84%; }
    .welcome .benefits__list:before, .welcome .benefits__list:after {
      content: '';
      display: table; }
    .welcome .benefits__list:after {
      clear: both; }
    .welcome .benefits__list li {
      position: relative;
      float: left;
      width: 27.33%;
      height: auto;
      line-height: 219px;
      padding: 0 3% 25px;
      text-align: center; }
      .welcome .benefits__list li:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../images/cakes-bg.png") no-repeat 50% 50%;
        background-size: contain;
        z-index: 5;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out; }
      .welcome .benefits__list li:hover:before {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg); }
      .welcome .benefits__list li a {
        position: relative;
        z-index: 8;
        display: block; }
      .welcome .benefits__list li img {
        position: relative;
        z-index: 10;
        vertical-align: middle;
        display: inline-block;
        width: auto; }

/**
 * Our works section
 */
.our-works .title {
  margin: 0 0 43px; }

.our-works .frame-block-holder {
  margin: 0 0 110px; }

.frame-block-holder .frame-decor img {
  width: 100%;
  display: block; }

.frame-block-holder .frame-block {
  position: relative;
  background: #fff;
  border-left-width: 2px;
  border-right-width: 2px;
  border-style: solid;
  border-color: #53371c;
  padding: 0 100px;
  margin: 0 4px; }
  .frame-block-holder .frame-block__text {
    overflow: hidden;
    float: left;
    width: 36%;
    padding: 0 2%;
    text-align: center; }
  .frame-block-holder .frame-block__images {
    float: left;
    width: 60%; }
    .frame-block-holder .frame-block__images li {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 45%;
      margin: 0 4% 15px 0; }
      .frame-block-holder .frame-block__images li a {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        text-indent: -9999px;
        z-index: 1; }
      .frame-block-holder .frame-block__images li .image-hover {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 22px;
        background: rgba(98, 59, 35, 0.8);
        text-align: right;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear; }
        .frame-block-holder .frame-block__images li .image-hover i {
          margin: 0 8px 0 0;
          font-size: 15px;
          line-height: 22px;
          color: #fff; }
      .frame-block-holder .frame-block__images li a:hover + .image-hover {
        opacity: 1;
        visibility: visible;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear; }
      .frame-block-holder .frame-block__images li img {
        display: block;
        width: 100%; }
  .frame-block-holder .frame-block--full:before, .frame-block-holder .frame-block--full:after {
    content: '';
    display: table; }
  .frame-block-holder .frame-block--full:after {
    clear: both; }

.frame-block-holder--half {
  width: 42%; }
  .frame-block-holder--half .frame-block--half {
    padding: 0 40px;
    text-align: center; }

.frame-block-holder--small {
  max-width: 330px;
  margin: 0 auto; }
  .frame-block-holder--small .frame-block--small {
    padding: 0 60px;
    text-align: center; }

/**
 * Order section
 */
.order .title {
  margin: 0 0 50px; }

.order .order-content {
  margin: 0 0 105px; }
  .order .order-content:before, .order .order-content:after {
    content: '';
    display: table; }
  .order .order-content:after {
    clear: both; }

.order .frame-block-holder {
  float: left; }

.order .image-content {
  float: left;
  width: 58%; }
  .order .image-content img {
    margin: -10px 0 0 20px; }

/**
 * Other Pages
 */
.page .main .container {
  padding-top: 110px;
  padding-bottom: 70px; }

.page .title {
  margin: 0 0 35px; }

.page .frame-block {
  padding: 0 55px; }
  .page .frame-block__images {
    width: 100%; }
    .page .frame-block__images li {
      width: 29%;
      margin: 0 1.5% 50px; }
    .page .frame-block__images li:nth-last-child(1),
    .page .frame-block__images li:nth-last-child(2),
    .page .frame-block__images li:nth-last-child(3) {
      margin-bottom: 0; }

.details .frame-block__images {
  margin: 0 0 30px; }

.details .frame-block__text {
  width: 100%;
  float: none;
  padding: 0;
  text-align: left; }
  .details .frame-block__text .text-content {
    overflow: hidden; }
  .details .frame-block__text .image-content {
    margin-top: 10px;
    margin-bottom: 10px; }
    .details .frame-block__text .image-content.alignleft {
      margin-right: 10px;
      margin-left: 0; }
    .details .frame-block__text .image-content.alignright {
      margin-left: 10px;
      margin-right: 0; }

/**
 * Footer
 */
footer {
  font-size: 16px; }
  footer .title {
    margin: 0 0 30px; }

.contacts-t {
  width: 100%;
  border: 0;
  padding: 0; }
  .contacts-t td {
    padding: 0; }
  .contacts-t td:first-child {
    text-align: left;
    padding: 0 10px 0 0; }
  .contacts-t td:last-child {
    text-align: right; }

/**
 * <980px
 */
@media (max-width: 980px) {
  header {
    padding: 215px 0 0; }
    header .logo {
      top: 10px; }
  .nav-holder .nav .container {
    position: relative;
    padding: 8px 0 9px; }
    .nav-holder .nav .container:before {
      left: 10px;
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none; }
    .nav-holder .nav .container:after {
      right: 10px;
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none; }
    .nav-holder .nav .container:hover:before {
      left: 10px;
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none; }
    .nav-holder .nav .container:hover:after {
      right: 10px;
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none; }
  .nav-holder .nav .main-nav {
    float: none;
    display: block; }
    .nav-holder .nav .main-nav li {
      float: none;
      border-bottom: 1px solid #f0e8e2;
      border-bottom: 1px solid rgba(205, 178, 158, 0.3); }
      .nav-holder .nav .main-nav li:first-child, .nav-holder .nav .main-nav li:last-child {
        border-right: none; }
      .nav-holder .nav .main-nav li:last-child {
        margin: 0;
        border-bottom: 0; }
      .nav-holder .nav .main-nav li a {
        display: block;
        padding: 0;
        margin: 0;
        font-size: 20px;
        line-height: 40px;
        text-align: center; }
        .nav-holder .nav .main-nav li a:hover {
          background: rgba(205, 178, 158, 0.2);
          text-decoration: none; }
  .nav-holder .nav .soc-nav {
    position: absolute;
    top: 150px;
    right: 50%;
    float: none;
    margin: 0 -70px 0 0; }
    .nav-holder .nav .soc-nav li {
      margin: 0 6px; }
      .nav-holder .nav .soc-nav li a {
        font-size: 40px;
        line-height: 40px;
        text-decoration: none; }
  .title h2 {
    min-width: 310px;
    padding: 0 40px;
    background: #fff;
    font-size: 36px;
    line-height: 56px; }
    .title h2:hover {
      padding: 0 53px; }
  .welcome__image img {
    max-width: 768px; }
  .welcome .benefits {
    padding: 24px 0 40px; }
    .welcome .benefits__list li {
      width: 27.33%;
      height: auto;
      line-height: 219px;
      padding: 0 3% 25px;
      text-align: center; }
      .welcome .benefits__list li:before {
        content: '';
        position: absolute;
        top: 0;
        left: 5%;
        width: 90%;
        height: 90%;
        background: url("../images/cakes-bg.png") no-repeat 50% 50%;
        background-size: contain;
        z-index: 5;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out; }
      .welcome .benefits__list li img {
        width: 60%; }
  .our-works .frame-block-holder {
    margin: 0 0 80px; }
  .frame-block-holder .frame-block {
    padding: 0 25px;
    margin: 0 3px; }
  .frame-block-holder--small .frame-block--small {
    padding: 0 60px; }
  .order .order-content {
    margin: 0 0 80px; }
  .order .image-content {
    width: 53%; }
    .order .image-content img {
      margin: -10px 0 0 5%; }
  #top {
    bottom: 40px;
    right: 40px;
    width: 50px;
    height: 50px; }
    #top:before {
      top: 15px;
      left: 16px;
      border-width: 0 9px 18px 9px; } }

/**
 * <850px
 */
@media (max-width: 850px) {
  .order .image-content img {
    width: 95%; } }

/**
 * <768px
 */
@media (max-width: 767px) {
  .title h2 {
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-style: solid;
    border-color: #53371c;
    min-width: 0;
    padding: 0 30px;
    font: 28px/41px 'NautilusPompilius-Regular'; }
    .title h2:before, .title h2:after {
      top: -2px;
      left: -77px;
      width: 77px;
      height: 45px;
      background-image: url("../images/header-left-sm.png"); }
    .title h2:after {
      left: auto;
      right: -77px;
      background-image: url("../images/header-right-sm.png"); }
    .title h2:hover {
      padding: 0 30px; }
  .welcome__image {
    padding: 75px 0 50px 0; }
    .welcome__image img {
      width: 95%;
      max-width: none; }
  .welcome .benefits {
    padding: 50px 0; }
    .welcome .benefits__list li {
      width: 27.33%;
      height: auto;
      line-height: 110px;
      padding: 0 3% 25px;
      text-align: center; }
      .welcome .benefits__list li:before {
        top: 50%;
        left: 50%;
        width: 110px;
        height: 110px;
        margin-left: -55px;
        margin-top: -65px;
        background: url("../images/cakes-bg-sm.png") no-repeat 50% 50%;
        background-size: cover; }
      .welcome .benefits__list li img {
        width: 63px; }
  .frame-block-holder .frame-block__text {
    float: none;
    width: 96%;
    padding: 0 2%;
    text-align: left;
    margin: 0 0 30px; }
  .frame-block-holder .frame-block__images {
    float: none;
    width: 100%;
    font-size: 0;
    line-height: 0; }
    .frame-block-holder .frame-block__images li {
      width: 48%;
      margin: 0 1% 5px; }
  .frame-block-holder--half {
    width: 60%;
    margin: 0 auto; }
    .frame-block-holder--half .frame-block--half {
      padding: 0 20px; }
  .order .title {
    margin: 0 0 50px; }
  .order .order-content {
    margin: 0 0 70px; }
  .order .frame-block-holder {
    float: none; }
  .order .image-content {
    float: none;
    width: 50%;
    margin: 20px auto; }
    .order .image-content img {
      margin: 0; } }

/**
 * <580px
 */
@media (max-width: 580px) {
  .frame-block-holder .frame-block {
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-color: #53371c;
    margin: 0 1px; }
  .frame-block-holder--half .frame-block--half {
    border-left-width: 2px;
    border-right-width: 2px;
    border-style: solid;
    border-color: #53371c;
    margin: 0 3px; }
  .frame-block-holder--small .frame-block--small {
    border-left-width: 2px;
    border-right-width: 2px;
    border-style: solid;
    border-color: #53371c;
    margin: 0 3px; } }

/**
 * 320px - 480px
 */
@media (max-width: 479px) {
  body {
    font-size: 14px; }
  header {
    padding: 230px 0 0; }
  .main .container {
    padding: 0; }
  .title h2 {
    width: 80%;
    min-width: none;
    padding: 0 10%;
    font-size: 24px;
    line-height: 56px; }
    .title h2:before, .title h2:after {
      content: none; }
    .title h2:hover {
      padding: 0 10%; }
  .welcome .benefits__list {
    padding: 0 1%;
    width: 98%; }
    .welcome .benefits__list li {
      width: 33.33%;
      padding: 0 0 25px; }
  .frame-block-holder {
    padding: 0 15px; }
    .frame-block-holder .frame-block__text {
      padding: 20px 2% 15px; }
    .frame-block-holder .frame-block__images {
      float: none;
      width: 100%;
      font-size: 0;
      line-height: 0; }
      .frame-block-holder .frame-block__images li {
        width: 100%;
        margin: 0 0 15px; }
    .frame-block-holder--half {
      width: 80%;
      margin: 0 auto; }
      .frame-block-holder--half .frame-block--half {
        padding: 0 20px; }
    .frame-block-holder--small {
      max-width: 300px; }
      .frame-block-holder--small .frame-block--small {
        padding: 0 20px; }
  .order .image-content {
    width: 80%;
    margin: 30px auto 10px; }
  .details .frame-block__text {
    font-size: 14px; }
    .details .frame-block__text .image-content {
      float: none;
      margin: 0 0 30px;
      text-align: center; }
  #top {
    bottom: 30px;
    right: 30px; } }

@media (max-width: 370px) {
  .welcome .benefits {
    padding: 30px 0; }
    .welcome .benefits__list li {
      width: 90%;
      padding: 0 5px 30px; }
  .order .frame-block-holder {
    width: 90%; } }
